@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
    font-family: 'Roboto', 'sans-serif';
}

body{
    background-color: #F0F0F2;
}

header{
}

a{
    text-decoration: none;
}

#logo{
    width: 330px;
    height: 155px;
    /* border:solid; */
}

#external-links{
    margin-top:15px;

}
#external-links>a{
    margin:20px;

}

#main-links{
    /* display: flex; */
    /* border:solid; */
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;


}


#search-area{
    width:300px;
    height:25px;
    display: flex;
    /* margin:auto; */
    margin-top:50px;
    /* margin-left:80px; */

    /* border:solid; */
}


#search-icon{
    /* margin-top:5px; */
    height:51px;
    width:50px;
    border-radius: 5px;
    
}


#searchInput{
    margin-right:0px;
    width:300px;
    height: 45px;
    border-radius: 5px;
    margin-right:-10px;

    
    /* border:solid; */
}

#shop-cart{
    width: 200px;
    /* border: solid; */
    /* margin-right:800px; */
}

button{
    cursor:pointer;
}

#loginLink{
    background-color:#04ADBF;
    color: white;
    font-weight: bolder;
    font-size:1.3em;
    border-radius:3px;
    border:none;
    margin-top:50px;
    width:200px;
    height:50px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}


main{
    background-color: #F2DB66;
    padding-top:50px;
    height:90vh;
    padding-left:50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
footer{
    background-color: #686673;
    height:10vh;
    text-align: center;
    color:white;
}


.card{
    padding-left: 30px;
    background-color: white;
    
    width:248px;
    height:280px;   
    
    border-radius:10px;

}


#categoricLinks{
    display: flex;
    justify-content: space-around;


}


.categoryLink{
    /* border:solid; */
    background-color: white;
    width:108px;
    height: 108px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border:solid;
    margin-bottom:50px;


}

.linkCartProduct{
    background-color: #04ADBF;
    color: white;
}